/* 404 */
/* CSS Document */
/* 
h1: Lato Bold 700;
h2: Lato Normal 400;
p: Lato Light 300;
#F5F5F5 / rgb(245,245,245) - Light Gray
#333333 / rgb(51,51,51) - Dark Gray
#ED4223 / rgb(237,66,35) - Accent Orange
*/
@charset "UTF-8";
/* Responsive Setup 

@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}
*/

/* COMMON */
html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body{
  margin: 0;
  padding: 0;
  background: url(../img/404-background.jpg) no-repeat center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

img{ 
  display: block;
  width: 20%;
  margin: auto auto;
  padding-top: 10em;
  padding-bottom: 9em;
}

h1{
  color: rgba(0, 0, 0, 0.8);
  font-weight: 200;
  font-style: italic;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  padding-top: 5em;
  margin-bottom: -5em;
}

h2{
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
}

 /* NAVIGATION */
a {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  letter-spacing: 3px;
  opacity: 1;
  text-decoration: none;

}

a:hover {
  opacity: 1;
}

img {
  width: 25%;
}

header {
  width: 100%;
  height: 76px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#logo{
  margin: 20px;
  float: left;
  width: 80px;
  height: 80px;
  background: url(../img/404-logo.svg) no-repeat center;
  display: block;
}

nav {
  float: right;
  padding: 20px;  
}

#menu-icon {
  display: hidden;
  width: 50px;
  height: 50px;
  opacity: 1;
  background: url(../img/menu-icon.png) no-repeat center;

}

a:hover#menu-icon {

  opacity: 1;
  border-radius: 4px 4px 0 0;

}

ul {

  list-style: none;

}
nav li {
  color: #FFFFFF;
  display: inline-block;
  float: left;
  padding: 10px

}

.current {
  color: #FFFFFF;
}


/*MEDIA QUERY*/
@media only screen and (max-width : 38em) {

  header {

    position: absolute;

  }

  #menu-icon {
    display: none;

  }

  nav ul, nav:active ul { 
    display: none;
    position: absolute;
    padding: 20px;
    right: 30px;
    top: 76px;
    width: 50%;
    border-radius: 4px 0 4px 4px;

  }

  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    display: none;
  }

  nav:hover ul {

    display: none;

  }
}
  /* END - NAVIGATION */

/* General button style (reset) */
.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: block;
  margin: auto auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Button 1 */
.btn-1 {
  border: 3px solid #fff;
  color: #fff;
  margin-bottom: 1em;
}

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
  color: #d56e4e;
  background: #fff;
}
/* END - COMMON */
